// on indique que l'on veut utiliser le module vars
// on note qu'il n'y a pas à préciser le _ ni l'extension
@use "../../styles/vars"; 

.amount{

background-color: vars.$color-main; 
color: vars.$color-light; 
padding: vars.$gutter * 3; 
text-align: center;

  &__title{
    font-weight: vars.$weight-bold;
    font-size: 2rem; 
    margin-bottom: vars.$gutter;
  }

  &__amount{
    font-weight: vars.$weight-light;
    font-size: 1.3rem; 
  }


}
