.content {

background-color: #fff;
color: #bb5432; 
height: 25rem; 
overflow-y: scroll; 
scrollbar-color: rebeccapurple green;
scrollbar-width: thin;
  
&__title{
  font-weight: 700;
  margin-bottom: 1.5rem; 
  margin-top: 0.8rem; 
  margin-left: 0.8rem; 
  height: 2.3rem;
  padding: 1rem; 
}

&__item{
  margin-left: 0.8rem; 
  margin-right: 0.8rem; 
  height: 2.3rem;
  padding: 1rem; 
  border-top: solid 1px #bb5432 ;
}

&__item:hover{
  background-color:#f1c5b6; 
  transition: background-color 1s; 
}

}
