.header{

background-color: #bb5432;
color: #fff; 
margin: auto; 
padding: 2rem; 
text-align: center;

  &__title{
    font-weight: 700;
    font-size: 2rem; 
    margin-bottom: 0.7rem;
  }

  &__subTitle{
    font-weight: 300;
    font-size: 1rem; 
  }


}
